$purple: #543864;
$pink: #ff6363;
$blue: #202040;

.calender-container {
    .list {
        margin-top: 2em;
        margin-bottom: 2em;
        direction: rtl;
        text-align: center;
    }
    .react-calendar {
        width: 100%;
        margin: 0 auto;
        margin-top: 2em;
        color: white;
        background-color: $blue;
        font-weight: 700;
    }
}