.controllers {
    margin-top: 2rem;
    .cardGrid {
        cursor: pointer;
        color: #696969;
        width: 25%;
        text-align: center;
        &.taken {
            border: orangered;
        }
    }
}