@import '../main/screens.scss';
@import '../main/colors';

.tagShopList {
    width: 90%;
    margin: 0 auto;
    .card-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        .card {
            background: transparent;
            margin: 0 auto;
            margin: 10px;
            outline: 0;
            width: 50%;
            height: 110px;
            border: 1px solid $pink;
            box-shadow: 4px 7px 17px 0px rgba(63,65,97,1);
            cursor: pointer;
        }
    }
}
.ant-modal-confirm-content {
    text-align: right;
}