@import '../main/colors.scss';

.wishL {
    margin-top: 20px;
    .ant-select-multiple .ant-select-selector,
    .ant-input-affix-wrapper,
    input {
        background-color: $blue;
        color: $white;
    }
    .ant-select-multiple .ant-select-selection-item-content {
        color: black;
    }

    .items-container {
        width: 100%;
        margin-top: 10px;
        .item {
            width: 100%;
            color: white;
            padding: 10px;
            text-left: right;
            direction: rtl;
            border: 1px solid white;
            .controllers {
                display: inline-block;
                margin-left: 10px;
                span {
                    margin-right: 10px;
                    font-size: 20px;
                    cursor: pointer;
                    color: $pink;
                }
            }
            .text {
                display: inline-block;
            }
        }
    }
}