@import 'screens';
@import 'colors';

.main-container {
    // background-color: $blue;
    color:$yellow;
    // min-height: 100vh;
    .inner {
        margin: 0 auto;
        padding-top: 3rem;
        width: 40%;
        .ant-divider-inner-text {
            color: $pink;
        }
        .submit-btn {
            width: 100%;
            margin-top: 20px;
            // margin-left: 15px;
        }
    }

    @include screen-xs {
        .inner {
            width: 90%;
        }
    }
}

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background: $yellow !important;
}

