@import '../main/colors.scss';
@import '../main/screens.scss';

.ant-picker {
    margin-top: 20px !important;
    width: 47%;
    background-color: transparent !important;
    .ant-picker-suffix {
        color: $pink;
    }
    input {
        color: $white !important;
    }
    @include screen-xs {
        width: 45%;
    }
}

.ant-picker-date-panel {
    background-color: $blue;
    .ant-picker-cell-in-view {
        color: $pink;
    }
    .ant-picker-header {
        color: $white;
        button {
            color: $white;
        }
    }
    .ant-picker-content {
        th {
            color: $white;
        }
    }
}
.ant-picker-footer {
    background-color: $blue;
    color: $yellow;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    border: 1px solid $white !important;
}