@import '../main/colors.scss';
@import '../main/screens.scss';

.sigin {
    text-align: center;
    background: $blue;
    height: 100vh;
    .form-block {
        width: 30%;
        margin: 0 auto;
        padding-top: 20px;
        form {
            padding: 20px;
            position: relative;
            .title {
                color: white;
                font-size: 20px;
                background: silver;
                position: absolute;
                top: -20px;
                left: 23%;
                width: 140px;
                height: 40px;
            }
            p {
                color: $yellow;
                font-size: 20px;
                margin: 10px;
            }
            input {
                width: 100%;
                background: rgba(255,255,255,.2);
                outline: 0;
                border: 0;
                border-radius: 12px;
                color: $white;
                padding: 10px;
                margin: 10px;
                margin-left: 0;
                &::placeholder {
                    color: $white;
                }
            }
            .error {
                color: $pink;
                text-align: center;
                margin: 10px;
            }
            button {
                background: $pink;
                color: white;
                font-size: 20px;
                border: 0;
                width: 100%;
                margin-top: 20px;
                border-radius: 12px;
                padding: 5px;
            }
        }
    }
    @include screen-xs {
        .form-block {
            width: 60%;
        }
    }
}